* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 139px;
    margin: 0 auto;
}
.header {
    background-color: rgb(254, 248, 242);
    padding: 15px 60px;
    border-bottom: 3px solid #715B4B;
}
.hn__image {
    display: flex;
    justify-self: center;
}
.hn__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hn__list-1 {
    display: flex;
    gap: 82px;
    list-style: none;
}
.hn__list-2 {
    display: flex;
    gap: 147px;
    list-style: none;
}
.hn__list-link {
    text-decoration: none;
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #323232;
}
.hn__list-link::after {
    display: block;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #bababa;
    content: '';
    transition: width 0.3s ease-out;
    

}
.hn__list-link:hover::after, .hn__list-link:focus::after {
    width: 100%;
}
.hn__list-link:hover {
    color: #bababa;
}
.first__section {
    background:rgb(254, 248, 242) ;
    display: flex;
    border-bottom: 3px solid #715B4B;
}
.fs__block {
    display: grid;
    grid-template-columns: 2, 1fr; 
}
.fs__block--right {
    padding: 198px 0 0 37px;
    grid-column: 2/3;
    flex-direction: column;
    display: flex;
}

.fs__block img {
    grid-column: 1/2;
}
.fs__block--right p:nth-of-type(1) {
    margin-bottom: 17px;
}
.fs__block--right p:nth-of-type(2) {
    margin-top: 40px;
    margin-bottom: 70px;
}
p {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #323232;    
}
h2 {
    font-family: 'Tenor-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #57463A;
}
.fs__block--right .btn {
    padding: 18px 59px;
}
.btn {
    background: #A1B29F;
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #F6F6F6;
    cursor: pointer;
    align-self: flex-start;
    border: none;
}
.apps {
    display: flex;
    gap: 40px;
    margin-top: 94px;
    align-self: flex-end;
}
.btn_2 {
    border: 1px solid #715B4B;
    background-color: transparent;
    border-radius: 50%;
    padding: 9px 9px 7px 9px;
    cursor: pointer;
}
.info__section {
    padding: 80px 0;
    background: rgb(254, 248, 242);
}
.is__block {
    display: flex;
    flex-direction: column;
}
.is__block--bottom {
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
.is__block--bottom-box {
    border-bottom: 3px solid #715B4B;
    padding-bottom: 14px;
    max-width: 360px;
    width: 100%;
}
.is__block--bottom p {
    text-align: center;
}
.production__section {
    padding:80px 0; 
    background-color: rgb(254, 248, 242);
}
.ps__block--bottom {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(4,1fr);
    background: #715B4B;
    gap: 2px;
    padding: 2px;
}
.ps__block h2 {
    margin-bottom: 100px;
}
.ps__block-box p {
    margin-top: 20px;
    width: 128px;
}
.ps__block-box {
    text-align: center;
    padding: 56px 96px;
    background-color: rgb(254, 248, 242);
}
.family__section {
    padding: 80px 0;
    background-color: rgb(254, 248, 242);
}
.fas__block--bottom {
    background: #EBEEEB;
    display: flex;
}
.fas__block--right {
    padding: 68px 0 0 40px;
}
.family__section h2{
    margin-bottom: 100px;
}
h3 {
    font-family: 'Tenor-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}
.fas__block--right h3{
    margin-bottom: 40px;
}
.fas__block--right p:nth-of-type(1) {
    margin-bottom: 40px;
}
.fas__block--right button {
    padding: 18px 56px;
    margin-top: 52px;
}
.video__section {
    padding: 80px 0;
    background: rgb(254, 248, 242);
}
.video {
    margin-top: 100px;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions__sections {
    padding: 120px 0;
    background: rgb(254, 248, 242);
}
.or__block {
    
    display: flex;
}
.or__block--right {
    padding: 110px 0 0 41px;
}
.or__block--right h3 {
    margin-bottom: 40px;
}
.or__block--right .btn {
    margin-top: 60px;
}
.or__block--right .btn {
    padding: 18px 42px;
}
.order_1 {
    margin-top: 100px;
    background: #E3DACE;
}
.order_2 {
    background: #D4CDC3;
}
.garanty__section {
    padding: 80px 0;
    background: rgb(254, 248, 242);
}
.garanty__block {
    border: 7px solid #A1B29F;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.garanty__block-1 {
    border: 1px solid #715B4B;
    padding: 38px 63px;
    
}
.garanty__block-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.garanty__block-2 h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 54px;
}
.garanty_logo {
    text-align: end;
}
.garanty__block-1 p {
    font-size: 24px;
    max-height: 108px;
    height: 100%;
    margin: 0 auto;
}
.footer {
    padding: 84px 0;
    background: #715B4B;
}
.footer_text {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
}
.ft__block {
    display: flex;
    justify-content: space-between;
}
.ft__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 9px;
}
.ft__list-link {
    text-decoration: none;
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
}
.btn_3 {
    border: 1px solid #F6F6F6;
    background-color: transparent;
    border-radius: 50%;
    padding: 15px 15px 12px;
    cursor: pointer;
}
.apps_2 {
    align-items: center;
    display: flex;
    gap: 18px;
}
