* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 139px;
    margin: 0 auto;
}
.header {
    background-color: rgb(254, 248, 242);
    padding: 15px 60px;
    border-bottom: 3px solid #715B4B;
}
.hn__image {
    display: flex;
    justify-self: center;
}
.hn__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hn__list-1 {
    display: flex;
    gap: 82px;
    list-style: none;
}
.hn__list-2 {
    display: flex;
    gap: 147px;
    list-style: none;
}
.hn__list-link {
    text-decoration: none;
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #323232;
}
.hn__list-link::after {
    display: block;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #bababa;
    content: '';
    transition: width 0.3s ease-out;
    

}
.hn__list-link:hover::after, .hn__list-link:focus::after {
    width: 100%;
}
.hn__list-link:hover {
    color: #bababa;
}
.first__section {
    padding: 104px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 58.25%, rgba(0, 0, 0, 0) 100%), url("https://thumb.tildacdn.com/tild3561-6538-4139-b139-353930366335/-/format/webp/majid-gheidarlou-LuI.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.fs__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 97px;
}
.m_title {
    font-family: 'Tenor-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #F6F6F6;
}
.fs__block button {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #4C6D77;
    padding: 18px 59px;
    border: none;
    cursor: pointer;
}
.works__section {
    padding: 160px 0 80px;
    background-color: rgb(254, 248, 242)
}
.works__section .title {
    margin-bottom: 100px;
}
.title {
    font-family: 'Tenor-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}
.ws__block {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.ws__block-1 {
    display: flex;
    gap: 80px;
}
.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.box p {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 102.99%;
    color: #323232;
    
}
.works__section .btn {
    padding: 18px 44px;
    display: flex;
    margin: 0 auto;
    margin-top: 84px;
}
.btn {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    cursor: pointer;
}
.tech__section {
    padding: 80px 0px 160px;
    background: rgb(254, 248, 242);
}
.tech__section .title {
    margin-bottom: 100px;
}
.ts__block {
    display: flex;
    flex-direction: column;
    gap: 57px;
}
.ts__block-1 {
    display: flex;
    gap: 43px;
    align-items: center;
}
.ts__block-1 p, .ds__block--left p {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}
.life__section {
    padding: 182px 0;
    background: url(../images/centre_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ls__block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.res__section {
    padding: 160px 0 80px;
    background: rgb(254, 248, 242);
}
.box_1 {
    display: flex;
    flex-direction: column;
}
.rs__main {
    display: flex;
    flex-direction: column;
    gap: 77px;
    margin-top: 100px ;
}
.rs__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_1 img {
    max-width: 200px;
    max-height: 247px;
    width: 100%;
    height: 100%;
}
.box_2 img {
    max-width: 213px;
    max-height: 273px;
    width: 100%;
    height: 100%;
}
.box_1 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.box_2 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.box_3 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.box_4 {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.rs__block p, .tbs__block-1 p {
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #323232;
}

.box {
    max-width: 213px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.table__section {
    padding: 80px 0;
    background: rgb(254, 248, 242);
}
.table__section .title {
    margin-bottom: 100px;
}
.tbs__block {
    display: flex;
    justify-content: space-around;
}

.tbs__block-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.des__section {
    padding: 30px 0 160px;
    background: rgb(254, 248, 242);
}
.ds__block {
    display: flex;
    justify-content: space-around;
}
.ds__block--left h2 {
    margin-top: 50px;
}
.ds__block--left p {
    max-width: 591px;
    margin-top: 100px;
    margin-bottom: 47px;
}
.box_logo {
    max-height: 50px;
    max-width: 50px;
    height: 100%;
    width: 100%;
}
.ds__block--right .suptitle {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    font-family: 'Open-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}
.ds__block--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    padding: 20px 50px;
    background: linear-gradient(180deg, rgb(254, 248, 242) 60%, rgb(206, 175, 145)  40%)
}
.ds__block--left button {
    padding: 18px 74px 18px 79px;
}
.ds__block--right h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Tenor-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 200%;
    color: rgb(103, 83, 63);
    margin-top: 50px;
}